.idea
db.sqlite3
*/__pycache__/*
__pycache__/*
env/*

*.pyc
node_modules
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
db.sqlite3
env
local_settings.py
**/migrations/**
**/migrations
**/migrations/__init__.py
app/migrations
logs/
logs/*.log
hirest/__pycache__/*