{% extends 'index.html' %}
{% load static %}

{% block content %}

<section class="breadcrumbs">
    <div class="container">
  
      <div class="d-flex justify-content-between align-items-center">
        <h2>Blogs</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li><a href="{% url 'blog' %}">Blogs</a></li>
          {% block breadcrumb %}
          {% endblock %}
        </ol> 
      </div>
  
  
    </div>
</section>

<div class="container">
    <div class="row">
      <div class="col-lg-8 post">
        {% block blogcontent %}
        {% endblock %}
        <nav aria-label="...">
          <ul class="pagination">
          {% if is_paginated %}
            {% if page_obj.has_previous %}
              <li class="page-item"><a class="page-link" href="?page=1"><i class="fa fa-arrow-left" aria-hidden="true"></i></a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a></li>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if num == page_obj.number %}
                <li class="page-item active"><a class="page-link" style="color:#ffffff; background-color: black; border-color: black;" href="?page={{num}}">{{num}}</a></li>
              {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
                <li class="page-item"><a class="page-link" href="?page={{num}}">{{num}}</a></li>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}"><i class="fa fa-angle-right" aria-hidden="true"></i></a></li>
              <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}"><i class="fa fa-arrow-right" aria-hidden="true"></i></a></li>
            {% endif %}
          {% endif %}
          </ul>
        </nav>
      </div>

      {% block sidebar %}
      <div class="col-lg-4 sidebar">
        <ul class="list-group category shadow">
          <li class="list-group-item active" aria-current="true">Category</li>
          {% for categories in cat_list %}
          <a href="{% url 'category' categories.slug %}" style="text-decoration:none; color:black"><li class="list-group-item d-flex">{{categories}} <span class="badge bg-primary ml-auto">{{categories.category_set.count}}</span></li></a>
          {% endfor %}
        </ul>
        <div class="recent-post card shadow">
          <p class="bg-primary py-2">Recent Posts</p>
          {% for post in latestpost_list %}
          <div class="img-p">
            {% if post.img %}
            <img style="width:100px; height:80px" src="{{post.img.url}}">
            {% endif %}
            <a style="text-decoration:none; color:black" href="{% url 'blog-detail' post.slug %}"><p>{{post.title}}</p></a>
          </div>
          {% endfor %}
        </div>
        <div class="category-tag card shadow">
          <p class="bg-primary p-2">Category Tags</p>
          <div class="button-cuz">
            {% for categories in cat_list %}
            <a href="{% url 'category' categories.slug %}"><button type="button" class="btn btn-outline-dark">{{categories}}</button></a>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endblock %}
    </div>
  </div>
{% endblock %}