{% extends 'index.html' %}
{% block content %}
<div class="row d-flex px-3">

{% for job in jobs %}
{% comment %} <div class="card m-4">
  <h5 class="card-header">{{job.company_Name}}</h5>
  <div class="card-body">
      <h5 class="card-title">{{job.title}} || $ {{job.salary}}</h5>
      {% for skill in job.skills.all %}
      <button type="button" class="btn btn-primary my-2 mx-1">{{skill.name}}</button>
      {% endfor %}
      <div class="m-2">
        <div class="container">
          <a href="#" data-target="{{job.id}}" class="btn btn-primary">Apply</a>
          <a href="http://www.linkedin.com/shareArticle?url=http://127.0.0.1/jobs/{{job.id}}&title=<Find Jobs on Hirest>&source=http://your-domain"> Share on Twitter </a>
        </div>
        <a href="#" data-target="{{job.id}}" class="btn btn-success apply">Apply</a>
      </div>
  </div>
</div> {% endcomment %}

<div class="card col-md-3 m-2" style="width: 16rem;">
  <div class="card-body">
    {% if job.company_name.logo %}
    <div class="job-company d-flex">
      <img src="{{job.company_name.logo.url}}" alt="" class=" w-25 mx-1 rounded-circle">
      <h5 class="card-title">{{job.company_name}}</h5>
    </div>
    {% endif %}
    <a href="{% url 'job-details' job.id %}">
      <h5 class="card-title">{{job.company_name}}</h5>
    </a>
    <p class=" mb-0 p-0">{{job.title}} </p>
    <p class="card-subtitle text-muted "> abc {{job.category}} </p>
    <p class="card-text text-secondary my-1">$ {{job.salary}} </p>
    <div class="container">
      <a href="#" data-target="{{job.id}}" class="btn btn-primary apply">Apply</a>

      <a href="http://www.linkedin.com/shareArticle?url=http://127.0.0.1/jobs/{{job.id}}&title=<Checkout this job on Hirest>&source=http://127.0.0.1"> Share on LinkedIn </a>
      

    </div>
  </div>
</div>

{% endfor %}
</div>
{% endblock %}