{% extends 'index.html' %}
{% load tags %}
{% block content %}
<section>
	<div class="container">
		<!-- Outer Row -->
		<div class="row justify-content-center align-items-center">
			<div class="col-xl-10 col-lg-12 col-md-9">
				<div class="card o-hidden border-0 shadow-lg my-5">
					<div class="card-body p-0">
						<!-- Nested Row within Card Body -->
						<div class="text-center">
							<h1><a href="#">Hirest</a></h1>
							<p class="h4 text-black font-weight-bold mt-2 mb-2">Sign Up</p>
						</div>
						<form class="user" method="post">
						<div class="row mx-0">
								{% csrf_token %}
								<div class="col-lg-6">
									<div class="py-5 px-4">

										{% for field in form %}
										<div class="col-lg-12 mt-3">
											<label class="form-label text-gray-900 mb-0">{{ field.label_tag }}</label>
											{{field | add_class:"form-control"}}
											{{ field.errors }}
										</div>
										{% endfor %}

										{% if messages %}
										<ul class="mt-4 alert alert-danger" style="list-style: none;">
											{% for message in messages %}
											<li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message
												}}</li>
												{% endfor %}
										</ul>
										{% endif %}
									</div>

								</div>
							<div class="row mx-0">
								<div class="col-12 text-center">
									<input type="submit" class="btn btn-primary btn-block mt-4" value="Register"></input>
								</div>
							</div>
							</form>

					</div>

					<div class="text-center mt-3 mb-3"><a href="#">Already have an Account?</a></div>
					
				</div>
			</div>

		</div>
	</div>
	</div>
	</div>
	</div>
</section>

{% endblock %}
{% block js %}
<script>
	$(document).ready(function () {
		$('#main').addClass('background-gradient');
	});
</script>
{% endblock %}