{% extends 'index.html' %}
{% block content %}
<div class="container-fluid">
    {% for startup in startups %}
    <div class="card m-2 p-2 shadow">
        <div class="text-primary h2 mx-2 p-2"> {{startup.name}} </div>
        <div class="d-flex text-secondary p-2">
            <a href="{{startup.website}}"><span class="mx-2"> <i class="bi bi-globe"></i> {{startup.website}} </span></a>
            <span class="mx-2"> <i class="bi bi-envelope"></i> {{startup.email}} </span>
            <span class="mx-2"> <i class="bi bi-telephone"></i> {{startup.phone}} </span>
        </div>
        <div class="text-secondary mx-2">
            <i class="bi bi-calendar-check"></i> {{startup.founded_date}}
        </div>
            <div class="card-body">
                <div class="text-secondary"> <span class="mx-2">apply for joining this startup</span>
                <span class="mx-2"> <i class="bi bi-geo-alt"></i> {{startup.location}} </span>
            </div>
            <div class="card-body">
                <div class="text-secondary"> {{startup.description}} </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}