{% extends 'index.html' %}
{% load tags %}
{% block content %}
    <div class="row">
        <div class="col-md-12 text-center h1">
            Update Job 
        </div>
        
        <form method="POST" class="col-md-12">
            <div class="col-lg-12 mt-3">
                <label class="form-label text-gray-900 mb-0">Company</label>
                <input type="text" class="form-control" name="company" id="company" disabled value="{{profile.current_company}}">
            </div>

            {% csrf_token %}
            {% for field in form %}
            <div class="col-lg-12 mt-3">
                <label class="form-label text-gray-900 mb-0">{{ field.label_tag }}</label>
                {{field | add_class:"form-control"}}
                {{ field.errors }}
            </div>
            {% endfor %}

            <div class="col-12 text-center">
                <input type="submit" class="btn btn-primary btn-block mt-4" value="Update Job"></input>
            </div>

        </form>
            {% if messages %}
            <ul class="mt-4 alert alert-danger" style="list-style: none;">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message
                    }}</li>
                    {% endfor %}
            </ul>
            {% endif %}
    </div>
{% endblock %}